## Networks
{{ $vms := $.Site.Data.resources.all -}}
{{ range $vms -}}
{{ if eq .assetType "compute.googleapis.com/Network" -}}
{{ . }}
### Network
* DisplyName: {{ .displayName }}
* Location: {{ .location }}
* Project: {{ .project }}
{{ range .versionedResources -}}
{{ with .resource }}
- Auto-Create Subnetworks: {{ .AutoCreateSubnetworks }}
- Description: {{ .description }}
- selfLink: {{ .selfLink }}
- Creation Timestamp: {{ .creationTimestamp }}
- Fingerprint: {{ .fingerprint }}
- Gateway Address: {{ .gatewayAddress }}
- Id: {{ .id }}
- IP CIDR Range: {{ .ipCidrRange }}
- Name: {{ .name }}
- Network: {{ .network }}
- Private Google  Access: {{ .privateIpGoogleAccess }}
- Private Google Access (IP v6): {{ .privateIpv6GoogleAccess }}
- Purpose: {{ .purpose }}
- Region: {{ .region }}
- Stack Type. {{ .stackType }}
### Subnetworks
{{ range .subnetworks -}}
* {{ . }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
