## Instances
{{ $vms := $.Site.Data.resources.all -}}
{{ range $vms -}}
{{ if eq .assetType "compute.googleapis.com/Instance" -}}

### {{ .displayName }} ({{ .location }})

<ul>
{{ range $index, $val := . }}
{{ if in (slice "versionedResources" "additionalAttributes" "networkTags" "folders") $index }}{{ else }}
<li>{{ $index }}: {{ $val }}</li>{{ end }}
{{ end }}
</ul>

#### Network Tags

<ul>
{{ range $index, $val := .networkTags }}
<li>{{ $index }}: {{ $val }}</li>
{{ end }}
</ul>

#### Folders

<ul>
{{ range $index, $val := .folders }}
<li>{{ $index }}: {{ $val }}</li>
{{ end }}
</ul>

{{ range .versionedResources -}}

#### Resources

<ul>
{{ range $index, $val := .resource }}
{{ if in (slice "disks" "networkInterfaces") $index }}{{ else }}
<li>{{ $index }}: {{ $val }}</li>
{{ end }}
{{ end }}
</ul>

#### Network Interfaces

{{ range .resource.networkInterfaces }}

##### {{ .name }}
</ul>
{{ range $index, $val := . }}
{{ if in (slice "index" "shieldedInstanceInitialState") $index }}{{ else }}
<li>{{ $index }}: {{ $val }}</li>
{{ end }}
{{ end }}
</ul>

{{ end }}

#### Disks

{{ range .resource.disks }}

##### {{ .deviceName }}
</ul>
{{ range $index, $val := . }}
{{ if in (slice "index" "shieldedInstanceInitialState") $index }}{{ else }}
<li>{{ $index }}: {{ $val }}</li>
{{ end }}
{{ end }}
</ul>

{{ end }}
{{ end -}}
{{ end -}}
{{ end -}}
