## Firewall Rules
{{ $vms := $.Site.Data.resources.all -}}
{{ range $vms -}}
{{ if eq .assetType "compute.googleapis.com/Firewall" -}}
### {{ .displayName }}
* DisplayName: {{ .displayName }}
* Description: {{ .description }}
* Location: {{ .location }}
* Project: {{ .project }}
* State: {{ .state }}
{{ range .versionedResources -}}
#### allowed

{{ range .resource.allowed -}}
+ Protocol: {{ .IPProtocol }}
+ Ports: {{ .ports }}
{{ end -}}

{{ if isset .resource "denied"}}
#### denied
{{ range .resource.denied -}}
+ Protocol: {{ .IPProtocol }}
+ Ports: {{ .ports }}
{{ end -}}
{{ end }}

{{ with .resource }}
- selfLink: {{ .selfLink }}
- Creation Timestamp: {{ .creationTimestamp }}
- Description: {{ .description }}
- Direction: {{ .direction }}
- Id: {{ .id }}
- disabled: {{ .disabled }}
- Name: {{ .name }}
- Network: {{ .network }}
- Priority: {{ .priority }}
- Source Ranges: {{ .sourceRanges }}
{{ end -}}
{{ end -}}
{{ end -}}
{{ end -}}
